html {
  font-family: 'Nunito';
}

body {
  background-color: #130f0d;
  color: #ffffff;
}

.boards {
  display: flex;

  margin: 32px 0 0 0;
}

.board {
  background: #141316;
  border: 1px solid #FD951F11;
  border-radius: 4px;

  margin: 0 16px;
}

.board h3 {
  padding: 16px;
  margin: 0;
  color: #FD951Fcc;
}

.dropzone {
  padding: 16px;
  min-width: 282px;
  min-height: 200px;
}

.card {
  background: #1A1A1C;
  padding: 16px;
  box-shadow: 0 2px 2px -1px #FD951Fcc;
  width: 250px;
  margin: 25px 0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
}

.card .status {
  width: 30px;
  height: 8px;
  background: gray;
  margin-bottom: 16px;
  border-radius: 8px;
}

.card .status.green {
  background-color: #23d2ac;
}

.card .status.blue {
  background-color: #33adff;
}

.card .status.red {
  background-color: tomato;
}

.highlight {
  background-color: #FD951F08;
}

.card, .dropzone {
  transition: 200ms;
}

.is-dragging {
  cursor: move;
  opacity: 0.1;
}

.over {
  background-color: #4cd13711;
}